<div class="inner hide-after-load">
  <div class="d-flex justify-content-center">
    <svg class="onetime-progress" viewBox="0 0 120 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path id="Ticket" d="M115.306,0c2.592,0 4.694,2.102 4.694,4.694l0,137.008c0,1.245 -0.495,2.439 -1.375,3.319l-13.827,13.827c-1.833,1.833 -4.805,1.833 -6.638,0l-10.507,-10.508l-10.507,10.508c-1.834,1.833 -4.805,1.833 -6.639,0l-10.507,-10.508l-10.507,10.508c-1.833,1.833 -4.805,1.833 -6.639,0l-10.507,-10.508l-10.507,10.508c-1.833,1.833 -4.805,1.833 -6.638,0l-13.827,-13.827c-0.88,-0.881 -1.375,-2.074 -1.375,-3.319l0,-137.008c0,-2.592 2.102,-4.694 4.694,-4.694l110.612,0Zm-4.695,9.388l-101.224,0l0,130.369l9.133,9.133l10.507,-10.507c1.834,-1.834 4.806,-1.833 6.639,0l10.507,10.507l10.507,-10.507c1.833,-1.833 4.806,-1.833 6.639,0l10.507,10.507l10.507,-10.507c1.833,-1.834 4.805,-1.834 6.639,0l10.507,10.507l9.132,-9.133l0,-130.369Zm-57.358,75.035l0,4.572c0,5.912 -9.144,5.912 -9.144,0l0,-4.572l-4.572,0c-5.911,0 -5.911,-9.143 0,-9.143l4.572,0l0,-27.889l-4.572,0c-5.911,0 -5.911,-9.144 0,-9.144l4.572,0l0,-4.572c0,-5.912 9.144,-5.912 9.144,0l0,4.572l6.858,0l0,-4.572c0,-5.912 9.144,-5.912 9.144,0l0,4.812c9.111,1.716 13.981,12.256 9.371,20.284c3.835,2.473 6.382,6.76 6.402,11.633l0,0.086c-0.03,7.688 -6.294,13.933 -13.99,13.933l-1.783,0l0,4.572c0,5.912 -9.144,5.912 -9.144,0l0,-4.572l-6.858,0Zm13.454,-37.032l-13.454,0l0,27.889l17.785,0c2.668,0 4.84,-2.168 4.846,-4.833c-0.006,-2.631 -2.178,-4.769 -4.846,-4.769l-7.498,0c-5.898,0 -5.898,-9.143 0,-9.143l3.167,0c5.86,0 5.962,-9.143 0,-9.144Z" style="fill-rule:nonzero;"/><path id="Address" d="M34.95,115.35l49.924,0"/></svg>
  </div>
</div>
<div class="inner show-after-load d-none">
  <p id="qrcode-area" class="lead">
  </p>
  <p class="lead">
    <a id="open-in-wallet" href="#" class="btn btn-lg btn-secondary" target="_blank">Open in Wallet</a>
  </p>
  <div class="form-group mx-auto">
    <label for="address-to-copy">&mdash; or copy the address &mdash;</label>
    <input id="address-to-copy" type="text" class="form-control form-control-sm btn-tooltip btn-clipboard" placeholder="Bitcoin address" aria-label="Bitcoin address" aria-describedby="button-copy" readonly="readonly" data-clipboard-target="#address-to-copy" title="Copy to clipboard">
  </div>
</div>
