<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>
  </head>
  <body>
    <main role="main">
      <h1>Donation page</h1>
      <p>{{ walletId }}</p>
    </main>
  </body>
</html>