<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor.css">
    {{> wallet_style}}
    <script src="/js/vendor.js"></script>
    <script>
      window.walletId = '{{walletId}}'
    </script>
    {{> wallet_script}}
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
      <main role="main" class="cover">
        {{> wallet_dom}}
      </main>
    </div>
  </body>
</html>