<!doctype html>
<html lang="en">

  <!--
    Powered by One-Time Address
    https://github.com/alexk111/One-Time-Address
  -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/vendor.css">
    {{> wallet_style}}
    <style>
      body {
        background: none;
      }

      .page-back {
        position: fixed;
        top: 0;
      }

      body:not(.is-transparent-bg) .page-back {
        background: rgba(204, 207, 210, 0.75);
        background: radial-gradient(circle, rgba(255, 255, 255, 0.75) 0%, rgba(204, 207, 210, 0.75) 100%);
      }

      main {
        position: absolute;
        top: 0;
        pointer-events: none;
      }

      .onetime {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    </style>
    <script src="/js/vendor.js"></script>
    <script>
      window.walletId = '{{walletId}}'
    </script>
    {{> wallet_script}}
  </head>

  <body class="text-center {{#if isTransparentBg}}is-transparent-bg{{/if}}">
    <div class="page-back w-100 h-100">
    </div>
    <main role="main" class="page-front d-flex w-100 h-100">
      {{> wallet_dom noClose=true}}
    </main>
  </body>

</html>